<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Igreja Nov.Jerusalem - IENJ</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="stylesheet" href="{{url_for('static',filename='assets/img/favicon.png')}}" rel="icon">
  <link rel="stylesheet" href="{{url_for('static',filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{{url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='assets/vendor/glightbox/css/glightbox.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.css')}}">

   <!-- Select-->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/vendor/select2 /css/select2.css')}}">
  <!-- Mask-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>





  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{{url_for('static',filename='assets/css/style.css')}}">


  <!-- =======================================================
  * Template Name: Lumia - v4.7.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="/">IENJ</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#missao">Home</a></li>
          <li><a class="nav-link scrollto" href="#sobre">Sobre</a></li>
          <li><a class="nav-link scrollto" href="#devocional">Devocional</a></li>
          <li><a class="nav-link scrollto" href="#horario">Horários</a></li>
          <li><a class="nav-link scrollto" href="#local">Localidade</a></li>
          <ul>
          <li><a class="nav-link scrollto" href="#contact">contatos</a></li>
        </ul>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>

      </nav><!-- .navbar -->

      <div class="header-social-links d-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>

      </div>
     </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Bem Vindo!!! <span>IENJ</span></h1>
      <h2>Orai pela Paz de Jerusalem...Salmos 122:6</h2>
      <a href="login" class="btn-get-started scrollto">Area Restrita</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ============================================================================ Sobre Section ============================================================================ -->
    <section id="sobre" class="services section-bg">
      <div class="container">
          <iframe id="sc-widget" width="100%" height="auto" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F1848538&show_artwork=true"></iframe>


        <div class="section-title">
          <h2>Sobre</h2>
          <p>Somos uma Igreja Conhecida pelo AMOR</p>
        </div>

        <div class="row">
          <div class="col-md-4">
            <figure>
              <img src="static/assets/img/orando.jpg" alt="" class="img-fluid">
             </figure>
          </div>
          <div class="col-md-8 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi bi-heart-fill"></i>
              <h4><a href="#">"AMOR"</a></h4>

              <p>Somos uma Igreja que crê no amor de Deus por nós e por você<br>
              Esse amor foi demonstrado na cruz quando Jesus morreu por nossos pecados.
                Cremos que a Salvação foi oferecida na cruz para todos aqueles que responderem com fé e
                arrependimento. Desejamos, a cada dia, nos tornar uma família de muitos filhos do nosso Pai Celestial,
                um Corpo para o Senhor Jesus e um Templo para o Espírito Santo. Não ande só, una-se a nós!</p>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="icon-box">
              <i class="fa fa-book"></i>
              <h4><a href="#">"A Cruz"</a></h4>
              <p>A mensagem da cruz, através do sacrifício de Jesus, aponta para nossa redenção. Fomos salvos pela mensagem da cruz.
                A bíblia diz: “Pois ele nos resgatou do domínio das trevas e nos transportou para o Reino do seu Filho amado, em quem temos a redenção,
                a saber, o perdão dos pecados.” (Colossenses 1.13-14).</p>
            </div>
          </div>
          <div class="col-md-4">
            <figure>
              <img src="static/assets/img/cruz.jpg" alt="" class="img-fluid">
             </figure>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

     <!-- ============================================================================ horario Section ============================================================================ -->
    <section id="horario" class="what-we-do">
      <div class="container">

        <div class="section-title">
          <h2>HORÁRIOS</h2>
          <p>Reserve um horário e venha fazer parte desta Família</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">

              <figure>
              <img src="static/assets/img/louvando2.jpg" alt="" class="img-fluid">
             </figure>
              <h4><a href="">Domingo</a></h4>
              <p>Escola Bíblica Dominical  8:30h</p><br>
              <p>Culto de Louvor e Palavra 18h</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <figure>
              <img src="static/assets/img/louvando.jpg" alt="" class="img-fluid">
             </figure>
              <h4><a href="">Quarta - Feira</a></h4>
              <p>Culto de Libertação 20h</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <figure>
              <img src="static/assets/img/orando.jpg" alt="" class="img-fluid">
             </figure>
              <h4><a href="">Sexta - Feira</a></h4>
              <p>Culto de Oração 20h</p>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <figure>
              <img src="static/assets/img/jovem.jpg" alt="" class="img-fluid">
             </figure>
              <h4><a href="">Sabado</a></h4>
              <p>Culto de Jovem 20h</p>
              <p>Quinsenal</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End What We Do Section -->


    <!-- ============================================================================ Devocional ================================================================================ -->
    <section id="devocional" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Devocional</h2>
          <p>A cada dia um devocional para fortalecer o seu relacionamento com Deus.</p><br>
        <h2><p>O que é um Devocional Diário?</p></h2>
           <p>Devocional diário é um momento especial do
           seu dia no qual você se dedica a ter um tempo precioso de comunhão com Deus. É muito simples manter uma rotina
           empolgante de descobertas e crescimento espiritual, separando um momento do seu dia para aproximar-se do Senhor.
           No Devocional você irá ler um versículo da Bíblia, ler uma meditação sobre o texto, refletir sobre os ensinos que poderá aplicar na sua vida e no final, orar.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Porque sou eu que conheço os planos que tenho para vocês', diz o Senhor,
                  'planos de fazê-los prosperar e não de causar dano, planos de dar a vocês esperança e um futuro.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Jeremias</h3>
                <h4>29:11</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Como é bom render graças ao Senhor e cantar louvores ao teu nome, ó Altíssimo; anunciar de manhã o teu amor leal e de noite a tua fidelidade.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Salmos</h3>
                <h4>92:1-2</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Confie no Senhor de todo o seu coração e não se apoie em seu próprio entendimento;
                  reconheça o Senhor em todos os seus caminhos,
                  e ele endireitará as suas veredas.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Provérbios</h3>
                <h4>3:5-6</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Eu disse essas coisas para que em mim vocês tenham paz. Neste mundo vocês terão aflições; contudo, tenham ânimo! Eu venci o mundo
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>João</h3>
                <h4>16:33</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  QPorque outrora vocês eram trevas, mas agora são luz no Senhor. Vivam como filhos da luz, pois o fruto da luz consiste em toda bondade,
                  justiça e verdade; e aprendam a discernir o que é agradável ao Senhor.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
               <!-- <img src="{{url_for('static',filename='assets/img/testimonials/testimonials-5.jpg')}}" class="testimonial-img" alt="">-->

                <h3>Efésios</h3>
                <h4>5:8-10</h4>
              </div>
            </div><!-- End Devocional item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ============================================================================ Local ================================================================================ -->
    <section id="local" class="testimonials section-bg">
      <div class="section-title">
          <h2>Localização</h2>
          <p>Venha receber do grande amor de Deus!!!</p>
        </div>

    <div class="container">
      <div class="row-fluid">
        <div class="span8">
       <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=628&amp;height=448&amp;hl=en&amp;q=rua são luiz do paraitinga, 382&amp;t=p&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://connectionsgame.org/">Connections Unlimited</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:448px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:448px;}.gmap_iframe {height:448px!important;}</style></div>
      </div>
    </div>
    </div>
    </section><!-- End local Section -->

    <!-- ============================================================================ Contato ================================================================================ -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>CONTATOS</h2>
        </div>

        <div class="row mt-5 justify-content-center">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Localização:</h4>
                  <p>R. São Luís do Paraitinga, 382<br>Jardim do Trevo, Campinas - SP <br>Cep 13031-070</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>ienj@ienj.com.br<br></p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-phone"></i>
                  <h4>Telefones:</h4>
                  <p>+55 19 3272 1283<br></p>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="row mt-5 justify-content-center">
          <div class="col-lg-10">
            <form action='/send' method="POST">
              <div class="row">

                <div class="col-md-6 form-group">
                  <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome" required>
                </div>

                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="E-mail"required>
                </div>

              </div>
              <div class="form-group mt-3">

                <select class="form-select form-select-sm"  id="assunto" name="assunto"  aria-label=".form-select-sm example" required>
                    <option selected>Selecione um Assunto...</option>
                    <option>PEDIDOS DE ORAÇÃO</option>
                    <option>OFERTAS</option>
                    <option>DOAÇÕES</option>
                    <option>OUTROS</option>
                </select>

              </div>

              <div class="form-group mt-3">
                <input type="text" id="telefone" name="telefone" class="form-control" placeholder="Telefone">
              </div>

              <div class="form-group mt-3">
                <input type="text" id="celular" name="celular" class="form-control" placeholder="Celular">
              </div>

              <div class="form-group mt-3">
                <textarea class="form-control" name="mensagem" rows="5" placeholder="Mensagem" required></textarea>
              </div>

              <div>
                <button id='btn-enviar' type="submit" class="btn btn-primary">Enviar Mensagem</button>

              <button id='btn-enviar-loader' class="btn btn-primary" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                  <span role="status">Enviando...</span>
              </button>

              </div>

            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">



    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename='assets/vendor/purecounter/purecounter.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/waypoints/noframework.waypoints.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/php-email-form/validate.js')}}"></script>
  <!-- Template Main JS File -->
  <script src="{{url_for('static', filename='assets/js/main.js')}}"></script>
   <!-- Select-->
<script src="{{url_for('static', filename='assets/vendor/JQueryMark/jquery.mask.js')}}"></script>
<script src="{{url_for('static', filename='assets/vendor/select2/js/select2.full.js')}}"></script>

<!-- Player SoundCloud -->
  <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>

</body>
      <script>
        $(document).ready(function(){
             $('#cep').mask('00000-000');
             $('#telefone').mask('(00) 0000-0000');
             $('#celular').mask('(00) 00000-0000');
             $('#cpf').mask('000.000.000-00', {reverse: true});
             $('#rg').mask('00.000.000-00', {reverse: true});
        });
      </script>


<script type="text/javascript">
  (function(){
    var widgetIframe = document.getElementById('sc-widget'),
        widget       = SC.Widget(widgetIframe);

    widget.bind(SC.Widget.Events.READY, function() {
      widget.bind(SC.Widget.Events.PLAY, function() {
        // get information about currently playing sound
        widget.getCurrentSound(function(currentSound) {
          console.log('sound ' + currentSound.get('') + 'began to play');
        });
      });
      // get current level of volume
      widget.getVolume(function(volume) {
        console.log('current volume value is ' + volume);
      });
      // set new volume level
      widget.setVolume(50);
      // get the value of the current position
    });

  }());
</script>

</html>